{% extends 'base.html' %}
{% block include_head_files %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/page-chat.js' )}}"></script>
{% endblock %}
{% block content %}
    {% if form.id.data == None or form.id.data == '' or form.errors %}
        <div id="chat-form-title" class="form-title"><h3>{% if form.name.data %}Chat:&nbsp;&nbsp;&nbsp;{{ form.name.data }}{% else %}New chat{% endif %}</h3></div>
        <form method="POST" class="margin-form chat-form">
            {{ form.hidden_tag() }}
            <table>
                <tr><td>{{ form.name.label }}</td><td>{{ form.name }}
                    {% if form.name.errors %}
                        <ul class="errors list-inline text-danger form-text">
                        {% for error in form.name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </td></tr>
                <tr><td>{{ form.docset_id.label }}</td><td>{{ form.docset_id }}
                    {% if form.docset_id.errors %}
                        <ul class="errors list-inline text-danger form-text">
                        {% for error in form.docset_id.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </td></tr>

                <tr><td></td><td class="td-submit"><input type="submit" value="Save" class="btn btn-secondary btn-submit"></td></tr>
            </table>
        </form>
    {% else %}
        <div style="display: none;" id="chat-info-table"><table>
            <tr><td>LLM type</td><td>{{ docset.llm_type }}</td></tr>
            <tr><td>LLM modeltype</td><td>{{ docset.llm_modeltype }}</td></tr>
            <tr><td>Embeddings provider</td><td>{{ docset.embeddings_provider }}</td></tr>
            <tr><td>Embeddings model</td><td>{{ docset.embeddings_model }}</td></tr>
            <tr><td>Text splitter method</td><td>{{ docset.text_splitter_method }}</td></tr>
            <tr><td>Chain</td><td>{{ docset.chain }}</td></tr>
            <tr><td>Chain type</td><td>{{ docset.chain_type }}</td></tr>
            <tr><td>Chain verbosity</td><td>{{ docset.chain_verbosity }}</td></tr>
            <tr><td>Search type</td><td>{{ docset.search_type }}</td></tr>
            <tr><td>Vectordatabase type</td><td>{{ docset.vecdb_type }}</td></tr>
            <tr><td>Chunk size</td><td>{{ docset.chunk_size }}</td></tr>
            <tr><td>Chunk overlap</td><td>{{ docset.chunk_overlap }}</td></tr>
            <tr><td>Chunk k</td><td>{{ docset.chunk_k }}</td></tr>
        </table></div>
        <a href="javascript:toggle_chat_form_header();" class="chat-form-header btn btn-secondary"><i class="bi-arrow-down-up" role="img"></i>Rename</a>
        <a href="javascript:chat_model_info();" class="chat-form-header btn btn-secondary" style="margin-right: 20px;"><i class="bi-gear" role="img"></i>Parameters</a>
        <div id="chat-form-title" class="form-title"><h3>{% if form.name.data %}Chat {{ form.name.data }}{% else %}New chat{% endif %}</h3></div>
        <form method="POST" class="margin-form chat-form" style="display: none;">
            {{ form.hidden_tag() }}
            <table>
                <tr><td>{{ form.name.label }}</td><td>{{ form.name }}
                    {% if form.name.errors %}
                        <ul class="errors list-inline text-danger form-text">
                        {% for error in form.name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </td></tr>
                <tr><td>{{ form.docset_id.label }}</td><td>{{ form.docset_id }}</td></tr>
                <tr><td></td><td><input type="submit" value="Save" class="btn btn-secondary" style="margin: 20px 0 -10px 130px;"></td></tr>
            </table>
        </form>
        <div class="questions-container-header">
            <a href="javascript:highlight_source();" class="btn btn-secondary disabled" id="a-highlight-source" style="margin-right: 20px;"><i class="bi-square" role="img"></i>View full source</a>
            <i class="bi-square btn btn-secondary" role="img" onclick="show_panels(100);"></i>
            <i class="bi-layout-sidebar-reverse btn btn-secondary active" role="img" onclick="show_panels(70);"></i>
            <i class="bi-layout-split btn btn-secondary" role="img" onclick="show_panels(50);"></i>
            <i class="bi-layout-sidebar btn btn-secondary" role="img" onclick="show_panels(30);"></i>
            <i class="bi-square btn btn-secondary" role="img" onclick="show_panels(0);"></i>
        </div>
        <div class="questions-container flex">
            <div id="questions" class="questions flex70">
                {% for chatquestion in form.chatquestions %}
                    <div>
                        <i class="bi-person-fill question-i" role="img"></i>
                        <div class="question alert alert-success"><span>{{ chatquestion.question }}</span><div class="question-dt">{{ chatquestion.date }}</div></div>
                    </div>
                    <div>
                        <i class="bi-pc answer-i" role="img"></i>
                        <div class="answer alert alert-primary"><span>{{ chatquestion.answer }}</span><div class="answer-dt">{{ chatquestion.date_answer }}</div></div>
                        <div class="source">{{ chatquestion.source }}</div>
                    </div>
                    <div class="source">{{ chatquestion.source }}</div>
                {% endfor %}
                <div>
                    <i class="bi-person-fill question-i" role="img"></i>
                    <div class="question new-question alert alert-success">
                        <input id="question">
                        <a href="javascript:new_question();" id="new-question-button" class="btn btn-secondary btn-sm chat-new-button" role="button" aria-pressed="true"><i class="bi-play-fill" role="img" aria-label="Add" style="margin-right: 0;"></i></a>
                    </div>
                </div>
                
                <div id="chat_progress"><span id="chat_progress_spinner" class="spinner-grow spinner-grow-sm chat-spinner-done"></span><div id="chat_progress_"></div></div>

                <div id="questions-footer">
                    <a href="{{ url_for('chat_clear', id=(form.id.data if form.id.data else 0)) }}" class="btn btn-secondary btn-sm" style="margin-bottom: 20px;" role="button" aria-pressed="true"><i class="bi-file-minus" role="img" aria-label="Clear"></i>Clear chat history</a>
                </div>    
            </div>
            <div id="questions-info" class="questions-info flex30">
                <div class="questions-no-info alert alert-dark">Clik on an answer to get see the sources used.</div>
            </div>
        </div>
    {% endif %}
    {% endblock %}