{% extends "base.html" %}
{% block include_head_files %}
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/page-docset.js' )}}"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
{% endblock %}
{% block content %}
    <div class="form-title"><h3>{% if form.name.data %}Document set:&nbsp;&nbsp;&nbsp;{{ form.name.data }}{% else %}New document set{% endif %}</h3></div>
    <form method="POST" class="margin-form">
        {{ form.hidden_tag() }}
        <table>
            <tr><td>{{ form.name.label }}</td><td>{{ form.name }}
                {% if form.name.errors %}
                    <ul class="errors list-inline text-danger form-text">
                    {% for error in form.name.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </td>{% if form.id.data|int >= 1 %}<td><a href="{{ url_for('docset_files', id=id) }}" class="btn btn-primary btn-sm" style="margin-left: 40px;">Files</a><a href="{{ url_for('docset_chunks', id=id) }}" class="btn btn-primary btn-sm" style="margin-left: 40px;">Chunks</a></td>{% endif %}</tr>
            <tr><td colspan="2"><h6>Model parameters</h6></td></tr>
            <tr><td>{{ form.llm_type.label }}</td><td>{{ form.llm_type }}
                {% if form.llm_type.errors %}
                    <ul class="errors list-inline text-danger form-text">
                    {% for error in form.llm_type.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </td></tr>
            <tr><td>{{ form.llm_modeltype.label }}</td><td>{{ form.llm_modeltype }}
                {% if form.llm_modeltype.errors %}
                    <ul class="errors list-inline text-danger form-text">
                    {% for error in form.llm_modeltype.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </td></tr>
            <tr><td>{{ form.embeddings_provider.label }}</td><td>{{ form.embeddings_provider }}
                {% if form.embeddings_provider.errors %}
                    <ul class="errors list-inline text-danger form-text">
                    {% for error in form.embeddings_provider.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </td></tr>
            <tr><td>{{ form.embeddings_model.label }}</td><td>{{ form.embeddings_model }}
                {% if form.embeddings_model.errors %}
                    <ul class="errors list-inline text-danger form-text">
                    {% for error in form.embeddings_model.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </td></tr>
            <tr><td>{{ form.text_splitter_method.label }}</td><td>{{ form.text_splitter_method }}
                {% if form.text_splitter_method.errors %}
                    <ul class="errors list-inline text-danger form-text">
                    {% for error in form.text_splitter_method.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </td></tr>
            <tr><td>{{ form.chain.label }}</td><td>{{ form.chain }}
                {% if form.chain.errors %}
                    <ul class="errors list-inline text-danger form-text">
                    {% for error in form.chain.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </td></tr>
            <tr><td>{{ form.chain_type.label }}</td><td>{{ form.chain_type }}
                {% if form.chain_type.errors %}
                    <ul class="errors list-inline text-danger form-text">
                    {% for error in form.chain_type.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </td></tr>
            <tr><td>{{ form.chain_verbosity.label }}</td><td>{{ form.chain_verbosity }}
                {% if form.chain_verbosity.errors %}
                    <ul class="errors list-inline text-danger form-text">
                    {% for error in form.chain_verbosity.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </td></tr>
            <tr><td>{{ form.search_type.label }}</td><td>{{ form.search_type }}
                {% if form.search_type.errors %}
                    <ul class="errors list-inline text-danger form-text">
                    {% for error in form.search_type.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </td></tr>
            <tr><td>{{ form.vecdb_type.label }}</td><td>{{ form.vecdb_type }}
                {% if form.vecdb_type.errors %}
                    <ul class="errors list-inline text-danger form-text">
                    {% for error in form.vecdb_type.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </td></tr>


            <tr><td>{{ form.chunk_size.label }}</td><td>{{ form.chunk_size }}
                {% if form.chunk_size.errors %}
                    <ul class="errors list-inline text-danger form-text">
                    {% for error in form.chunk_size.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </td></tr>
            <tr><td>{{ form.chunk_overlap.label }}</td><td>{{ form.chunk_overlap(min='10', max='1000', step='10') }}
                {% if form.chunk_overlap.errors %}
                    <ul class="errors list-inline text-danger form-text">
                    {% for error in form.chunk_overlap.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </td></tr>
            <tr><td>{{ form.chunk_k.label }}</td><td>{{ form.chunk_k(min='1', max='20') }}
                {% if form.chunk_k.errors %}
                    <ul class="errors list-inline text-danger form-text">
                    {% for error in form.chunk_k.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </td></tr>
            <tr><td></td><td class="td-submit"><input type="submit" value="Save" class="btn btn-secondary btn-submit"></td></tr>
            <tr><td colspan="2"><h6 style="display: inline-block;">Authorised user groups</h6> <sup>*</sup></td></tr>
            {% for usergroup in usergroups %}
                <tr><td><a href="{{ url_for('usergroup',id=usergroup.id) }}">{{ usergroup.name }}</a></td><td><input type="checkbox" disabled="disabled" class="yes-checkbox" {{ checked[loop.index0] }}></td></tr>
            {% endfor %}
        </table>
        <div style="margin-top: 12px;">
            <sup>*</sup><span style="margin-left: 8px; font-family: Arial; font-size: 0.8em;">Authorisation for this document can be (un)set at the specific user group.</span>
        </div>
    </form>
{% endblock %}