{% extends "base.html" %}
{% block content %}
	<div class="form-title"><h3>Document sets</h3></div>
    <a href="{{ url_for('docset', id=0) }}" class="btn btn-secondary btn-sm chat-new-button" role="button" aria-pressed="true"><i class="bi-plus" role="img" aria-label="New"></i>New document set</a>
    <table class="table table-hover table-sortable"><thead>
		<tr>
			<th>Name</th><th>Settings</th><th></th>
		</tr></thead><tbody>
    	{% for docset in docsets %}
    		<tr>
    			<td><a href="{{ url_for('docset', id=docset.id) }}">{{ docset.name }}</a></td>
    			<td><table class="plain">
					<tr><td>LLM:</td><td>{{ docset.llm_type }}&nbsp;&nbsp;&nbsp;{{ docset.llm_modeltype }}</td></tr>
					<tr><td>Embeddings:</td><td>{{ docset.embeddings_provider }}&nbsp;&nbsp;&nbsp;{{ docset.embeddings_model }}</td></tr>
					<tr><td>Text splitter:</td><td>{{ docset.text_splitter_method }}</td></tr>
					<tr><td>Chain, Search:</td><td>{{ docset.chain }}&nbsp;&nbsp;&nbsp;{{ docset.chain_type }}&nbsp;&nbsp;&nbsp;{{ docset.chain_verbosity }},&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ docset.search_type }}</td></tr>
					<tr><td>Vector database:</td><td>{{ docset.vecdb_type }}</td></tr>
					<tr><td>Chunks:</td><td>Size: {{ docset.chunk_size }},&nbsp;&nbsp;&nbsp;overlap: {{ docset.chunk_overlap }},&nbsp;&nbsp;&nbsp;K: {{ docset.chunk_k }}</td></tr>
				</table></td>
				<td style="white-space: nowrap;">
					<a class="btn btn-primary btn-s" style="margin-right: 40px;" href="{{ url_for('docset_files', id=docset.id) }}"><i class="bi-files" role="img" aria-label="Files"></i>Files</a>
					<a class="btn btn-primary btn-s" style="margin-right: 40px;" href="{{ url_for('docset_chunks', id=docset.id) }}"><i class="bi-files" role="img" aria-label="Chunks"></i>Chunks</a>
					<a class="btn btn-primary btn-s" href="javascript:chat_delete('Delete document set \'{{ docset.name }}\'?', '{{ url_for('docset_delete', id=docset.id) }}');"><i class="bi-trash" role="img" aria-label="Delete"></i>Delete</a>
				</td>
				</tr>
    	{% endfor %}
    </table>
{% endblock %}