{% extends "base.html" %}
{% block include_head_files %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/page-docset-chunks.js' )}}"></script>
{% endblock %}
{% block content %}
    <div class="form-title"><h3>Document set:&nbsp;&nbsp;&nbsp;{{ form.name.data }}</h3></div>
    <div class="margin-form">
        {{ form.hidden_tag() }}
        <table>
            <tr><td>{{ form.name.label }}</td><td>{{ form.name.data }}</td></tr>
            <tr><td colspan="2"><h6 style="display: inline-block; margin-top: 40px;">Files</h6></td></tr>
            {% for file in files %}
                <tr><td>F{{ file.no }}</td><td>{{ file.name }}</td><td>{{ file.dt }}</td><td>{{ file.size }}</td></tr>
            {% endfor %}
        </table>
        <h6 style="margin-top: 40px;">Chunks</h6>
        <div style="text-align: right; width: 100%; margin-bottom: 8px;">
            <span style="display: inline-block; width: 400px; margin-bottom: 8px;">
                Filter on:
                <input id="chunk-search" style="margin-left: 20px; width: 250px;">
                <a href="javascript:chunk_search_clear();"><i class="bi-x-circle-fill" role="img"></i></a>
            </span>
            <span style="display: inline-block; width: 300px; margin-bottom: 8px;">
                Show chunk overlap:
                <a id="show_overlap" show_overlap="start" href="javascript:show_overlap();" class="btn btn-secondary btn-sm" style="margin-left: 20px; min-width: 65px;">Start</a>
            </span>
            <span style="display: inline-block; width: 240px; margin-bottom: 8px;">
                Chunck middle:
                <a id="middle-sections-hide" middle_hide="show" href="javascript:middle_sections();" class="btn btn-secondary btn-sm" style="margin-left: 20px; min-width: 65px;">Visible</a>
            </span>
            <span id="unused-chunks" style="display: inline-block; width: 240px; margin-bottom: 8px;">
                Unused chunks:
                <a id="unused-chunks-hide" chunk_hide="show" href="javascript:unused_chunks();" class="btn btn-secondary btn-sm" style="margin-left: 20px; min-width: 65px;">Visible</a>
            </span>
        </div>
        {% for chunk in chunks %}
            <div source="{{ chunk.metadata.source }}" onclick="$(this).toggleClass('chunk-hide');" class="chunk-outer">
                <div class="chunk-source">{{ chunk.metadata.source }}</div>
                <div class="chunk"><span class="chunk1">{{ chunk.chunk1 }}</span><span class="chunk2">{{ chunk.chunk2 }}</span><span class="chunk3">{{ chunk.chunk3 }}</span></div>
            </div>
        {% endfor %}
        </div>
{% endblock %}