{% extends "base.html" %}
{% block content %}
    <div class="form-title"><h3>Logout</h3></div>
    <form method="POST" class="margin-form">
        {{ form.hidden_tag() }}
        <table>
            {% if logged_in %}
                <tr><td>Currently logged in as</td><td>{{ current_user.name }}</td></tr>
                <tr><td>&nbsp;</td></tr>
            {% endif %}
            <tr><td></td><td class="td-submit"><input type="submit" value="Logout" class="btn btn-secondary btn-submit"></td></tr>
        </table>
    </form>
{% endblock %}