{% extends "base.html" %}
{% block content %}
<div class="form-title"><h3>{% if form.label.data %}Setting:&nbsp;&nbsp;&nbsp;{{ form.label.data }}{% else %}New setting{% endif %}</h3></div>
<form method="POST" class="margin-form">
        {{ form.hidden_tag() }}

        <table>
            <tr><td>Machine name</td><td>{{ form.setting }}</td></tr>
            <tr><td>{{ form.label }}</td>
            <td>
                {% if form.setting_type.data == 'boolean' and form.value.data == True %}
                    <input type="checkbox" id="value" name="value" value="1" checked="checked" class="yes-checkbox">
                {% elif form.setting_type.data == 'boolean' and form.value.data == False %}
                    <input type="checkbox" id="value" name="value" value="1" class="yes-checkbox">
                {% else %}
                    {{ form.value }}
                {% endif %}
                {% if form.value.errors %}
                    <ul class="errors list-inline text-danger form-text">
                    {% for error in form.value.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </td></tr>
            <tr><td>Info</td><td>{{ form.info.data }}</td></tr>
            <tr><td></td><td class="td-submit"><input type="submit" value="Save" class="btn btn-secondary btn-submit"></td></tr>
        </table>
    </form>
{% endblock %}
