{% extends "base.html" %}
{% block content %}
    <div class="form-title"><h3>{% if form.name.data %}Usergroup:&nbsp;&nbsp;&nbsp;{{ form.name.data }}{% else %}New usergroup{% endif %}</h3></div>
    <form method="POST" class="margin-form">
        {{ form.hidden_tag() }}
        <table>
            <tr><td>{{ form.name.label }}</td><td>{{ form.name }}
                {% if form.name.errors %}
                    <ul class="errors list-inline text-danger form-text">
                    {% for error in form.name.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </td></tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td colspan="2"><h6>Authorisation on document sets</h6></td></tr>
            {% for columnname in columnnames %}
                <tr><td><label for="{{ columnname }}">{{ docsets[loop.index0].name }}</label></td><td><input id="{{ columnname }}" name="{{ columnname }}" type="checkbox" value="1" class="yes-checkbox" {{ form|attr(columnname) }}></td></tr>
            {% endfor %}
            <tr><td></td><td class="td-submit"><input type="submit" value="Save" class="btn btn-secondary btn-submit"></td></tr>
        </table>
    </form>
{% endblock %}