{% extends "base.html" %}
{% block content %}
    <div class="form-title"><h3>{% if form.name.data %}User:&nbsp;&nbsp;&nbsp;{{ form.name.data }}{% else %}New user{% endif %}</h3></div>
    <form method="POST" class="margin-form">
        <div id="buttonbar-1"></div>
        {{ form.hidden_tag() }}
        {{ form.id }}
        <table>
        
        <tr><td>{{ form.username.label }}</td><td>{{ form.username }}
            {% if form.username.errors %}
                <ul class="errors list-inline text-danger form-text">
                {% for error in form.username.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </td></tr>
        <tr><td>{{ form.name.label }}</td><td>{{ form.name }}
            {% if form.name.errors %}
                <ul class="errors list-inline text-danger form-text">
                {% for error in form.name.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </td></tr>
        <tr><td>{{ form.email.label }}</td><td>{{ form.email }}
            {% if form.email.errors %}
                <ul class="errors list-inline text-danger form-text">
                {% for error in form.email.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </td></tr>
        <tr><td>{{ form.department.label }}</td><td>{{ form.department }}
            {% if form.department.errors %}
                <ul class="errors list-inline text-danger form-text">
                {% for error in form.department.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td>{{ form.is_chat_admin.label }}</td><td>{{ form.is_chat_admin }}
            {% if form.is_chat_admin.errors %}
                <ul class="errors list-inline text-danger form-text">
                {% for error in form.is_chat_admin.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td colspan="2"><h6>Member of user groups</h6></td></tr>
        {% for usergroup in usergroups %}
            <tr><td><label for="usergroup_{{ usergroup.id }}">{{ usergroup.name }}</label></td><td><input id="usergroup_{{ usergroup.id }}" name="usergroup_{{ usergroup.id }}" type="checkbox" value="1" {{ usergroup.checked }}" class="yes-checkbox"></td></tr>
        {% endfor %}
        <tr><td></td><td class="td-submit"><input type="submit" value="Save" class="btn btn-secondary btn-submit"></td></tr>

        </table>
    </form>
{% endblock %}